*,
*::before,
*::after {
  box-sizing: border-box;
  margin-block-start: 0;
  margin-block-end: 0;
  margin-inline-start: 0;
  margin-inline-end: 0;
  padding-inline-start: 0;
  padding: 0;
}
body {
  background-image: url(bucharest2.jpg);
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
}
#clock-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}
#clock {
  font-family: monospace;
  font-size: 100px;
  font-weight: bold;
  text-align: center;
  color: white;
  backdrop-filter: blur(5px);
  background-color: hsl(0, 0%, 100, 0.1%);
  width: 50%;
}
